<header>
    <nav class="navbar">
        <img src="public/images/school_logo.gif" alt="no image" class="logo"> 
    <pre>
   UNIVERSITY OF NIGERIA, NSUKKA 
     <small>to restore the dignity of man</small>
</pre>


         <ul>
                <li><a class="current" href="/" >Home</a></li>
                <!-- <li><a href="/fresh">Fresh Student</a><li> -->
                <!-- <li><a href="contact.html">Contact</a></li> -->
        </ul>
    </nav>
  </header>