<header>
  <nav class="navbars navbar">
    <div class="logo">
      <div class="logoimg">
        <img
          src="/public/images/kisspng-logo-download-clip-art-assiomi-della-comunicazione-5b52992fe89c93.2458036015321398239528.png"
          alt="no image" class="logo" style="width: 50px;height: 50px; margin-left: auto; ">
      </div>
      <div class="">
        <p>
          TRUST UNIVERSITY
        </p>
      </div>
    </div>
  </nav>
</header>