<header>
  <nav class="navbar">
    <img src="/public/images/Cdel Logo.png" alt="no image" class="logo"
      style="width: 150px;height: 70px; margin-left: auto; ">
    <pre>
   UNIVERSITY OF NIGERIA, NSUKKA 
     <small>to restore the dignity of man</small>
</pre>


    <ul>
      <li><a class="" href="/adim">Adim Login</a></li>
      <li><a href="/adim/fresh">Sign up</a>
      <li>
      <li><a href="/">Student Login</a></li>
    </ul>
  </nav>
</header>
