<header>
    <nav class="navbar">
      <a href = '/'><img src="/public/images/school_logo.gif" alt="no image" class="logo"></a>
      <pre>
  UNIVERSITY OF NIGERIA, NSUKKA 
   <small> to restore the dignity of man</small>
</pre>


    </nav>
  </header>