<div class="sidebar-main" id="mysidebar">
    <nav class="sidebar-nav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <ul class="sidebar">
        <li><a href="/adim/dashboard/fresh">Add Student</a></li>
        <li><a href="/adim/dashboard/students">View Students</a></li>

        <li><a href="/adim/dashboard/courses">Courses</a></li>
        <li><a href="/adim/dashboard/result">results</a></li>
        <li><a href="/adim/auth/logout">logout</a></li>
      </ul>

    </nav>
  </div>
  <span style="font-size:30px;cursor:
pointer" onclick="openNav()">


    
  </span>