<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head_home adim'); -%>
<body style="background: url(/public/images/back.jpg); background-size: cover;">
  <%- include('layouts/header_home adim'); -%>

      
 <div class="list-group-item-danger">
        <% if(errors !=null && errors.length> 0){ %>
            <ul class="list-group"></ul>
            <% for (var i=0; i < errors.length; i++) { %>
                <li>
                    <%= errors[i] %>
                </li>
                <% } %>
                    </ul>
                    <% } %>
    </div>
  <div class="signinbox" >  
      <img src="/public/images/school_logo.gif"class="user">
        <h2>Adim Sign up </h2>
        <form action="/adim/fresh/post" method="POST">
              <p>username</p>
            <input type="text" placeholder="Enter Reg No" name = 'username'>
            <p>password</p>
            <input type="password" placeholder="Enter Reg No" name="password">
            <input type="submit" name='' value=Signup>
            <a href="#">Forget Password</a>
        </form>
  </div>
    <br>
    <br>
    <br>
 
  <footer class="footer">
      <p>built by Group 2 Cdel IT Students 2021 set. Copyright &copy; group 2</p>
  </footer>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
