<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head_home adim'); -%>

  <body style="background: url(public/images/back.jpg); background-size: cover;">
    <%- include('layouts/header_home adim'); -%>

    <div class="list-group-item-danger">
      <% if(errors !=null && errors.length> 0){ %>
          <ul class="list-group"></ul>
          <% for (var i=0; i < errors.length; i++) { %>
              <li>
                  <%= errors[i] %>
              </li>
              <% } %>
                  </ul>
                  <% } %>
  </div>
    
  <div class="signinbox" >  
      <img src="/public/images/school_logo.gif"class="user">
        <h2>login as admin</h2>
        <form action="/adim/login/auth" method="POST">
              <p>username</p>
            <input type="text" placeholder="Enter Username" name="username"> 
            <p>password</p>
            <input type="password" placeholder="******" name="password"> 
            <input type="submit" name='' value=Login>
        </form>
  </div>  
  <br>
  <br>
  <br>
  <footer class="footer">
      <p>built by Group 2 Cdel IT Students 2021 set. Copyright &copy; group 2</p>
  </footer>  
  </body>
</html>