<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head_home'); -%>

  <body style="background: url(public/images/back.jpg); background-size: cover;">
    <header>
      <nav class="navbar">
          <img src="/public/images/Cdel Logo.png" alt="no image" class="logo" style="width: 150px;height: 70px; margin-left: auto; "> 
      <pre>
     UNIVERSITY OF NIGERIA, NSUKKA 
       <small>to restore the dignity of man</small>
  </pre>
  
  
           <ul>
                  <li><a class="current" href="/" >Student Login</a></li>
                  <li><a href="/adim">Admin Login</a><li>
                  <!-- <li><a href="contact.html">Contact</a></li> -->
          </ul>
      </nav>
    </header>

    <div class="list-group-item-danger">
      <% if(errors !=null && errors.length> 0){ %>
          <ul class="list-group"></ul>
          <% for (var i=0; i < errors.length; i++) { %>
              <li>
                  <%= errors[i] %>
              </li>
              <% } %>
                  </ul>
                  <% } %>
  </div>
    
  <div class="signinbox" >  
      <img src="/public/images/school_logo.gif"class="user" >
        <h2>Student Login</h2>
        <form action="/login/auth" method="POST">
              <p>username</p>
            <input type="text" placeholder="Enter Username" name="username"> 
            <p>password</p>
            <input type="password" placeholder="******" name="password"> 
            <input type="submit" name='' value=Login>
        </form>
  </div>  
  <br>
  <br>
  <br>
  <footer class="footer">
    <p> Copyright &copy; Tee tech</p>
  </footer>  
  </body>
</html>