<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .header {
        background: green;
        color: aliceblue;
        text-align: center;
        padding: 20px;
    }
    .nav{
        background: chartreuse;
        color: cornsilk;
        padding: 5px;
        float: left;
        height: 575px;
        width: 10%;
        
    }
    .section {
        width: 86.1%;
        float: left;
        padding: 20px;
        background: red;
    }

    .footer {
        background: dimgray;
        color: white;
        text-align: center;
        clear: both;
        padding: 20px;
    }
</style>
<body>
    <div class="header">
        welcome
    </div>
    <div class="nav">
        <p>home</p>
        <p>school</p>
    </div>
    <div class="section">
        internal
        <p>London is the capital city of England. It is the most populous city in the United Kingdom,
            with a metropolitan area of over 13 million inhabitants.</p>
            <p>Standing on the River Thames, London has been a major settlement for two millennia,
            <p>Standing on the River Thames, London has been a major settlement for two millennia,
            <p>Standing on the River Thames, London has been a major settlement for two millennia,
            <p>Standing on the River Thames, London has been a major settlement for two millennia,
            <p>Standing on the River Thames, London has been a major settlement for two millennia,
            <p>Standing on the River Thames, London has been a major settlement for two millennia,
            <p>Standing on the River Thames, London has been a major settlement for two millennia,
            <p>Standing on the River Thames, London has been a major settlement for two millennia,
            its history going back to its founding by the Romans, who named it Londinium.</p><p>London is the capital city of England. It is the most populous city in the United Kingdom,
                with a metropolitan area of over 13 million inhabitants.</p>
                <p>Standing on the River Thames, London has been a major settlement for two millennia,
                its history going back to its founding by the Romans, who named it Londinium.</p><p>London is the capital city of England. It is the most populous city in the United Kingdom,
                    with a metropolitan area of over 13 million inhabitants.</p>
                    <p>Standing on the River Thames, London has been a major settlement for two millennia,
                    its history going back to its founding by the Romans, who named it Londinium.</p><p>London is the capital city of England. It is the most populous city in the United Kingdom,
                        with a metropolitan area of over 13 million inhabitants.</p>
                        <p>Standing on the River Thames, London has been a major settlement for two millennia,
                        its history going back to its founding by the Romans, who named it Londinium.</p>
    </div>
    <div class="footer">
        copy& 2021
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>