<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

    <body style="background-color: white;">

        <%- include('layouts/header'); -%>
            <!-- <form method="" action="" -->
            <div class="sidebar-main" id="mysidebar">
                <nav class="sidebar-nav">

                    <ul class="sidebar">
                        <li><a href="/dashboard/profile">profile</a>
                            <ul>
                                <li class="current_side">
                                    <a href="/dashboard/change-password/">   change password
                                </li>
                            </ul>
                        </li>
                        <li><a href="/dashboard/schoolfees">schoool fees</a></li>
                        <li><a href="/dashboard/course-registration">course registration</a>
                        <li><a href="/dashboard/hostel">hostel accomodation</a></li>
                        <li><a href="/dashboard/result">results</a></li>
                        <li><a href="/auth/logout">logout</a></li>
                    </ul>

                </nav>
            </div>
            <div class="password">
            <form method="POST" action="/dashboard/change-password/store">
            <h4>Change password </h4>
            <p>input current password</p>
            <input type="password" name="password">
            <p>input new password</p>
            <input type="password" name="newPassword">
            <p> confirm password </p>
            <input type="password" name="Confirmpassword">
            <br>
            <input type="submit" value='Submit' style='margin-left: 70px;'>
                
        </form>
    </div>
    </body>
</html>