<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

    <body style="background-color: white;">

        <%- include('layouts/header'); -%>
            <!-- <form method="" action="" -->
                <div class="sidebar-main" id="mysidebar">
                    <nav class="sidebar-nav">
                
                      <ul class="sidebar">
                          
                        <li><a href="/adim/dashboard/fresh">Add Student</a></li>
                
                        <li ><a href="/adim/dashboard/courses">Courses</a></li>
                        <li><a href="/adim/dashboard/result">results</a></li>
                        <li><a href="/adim/dashboard/students">Report</a></li>
                <li class="current_side">Change password</li>
                        <li><a href="/adim/auth/logout">logout</a></li>
                      </ul>
                
                    </nav>
                  </div>
            <div class="password">
            <form method="POST" action="/adim/dashboard/change-password/store">
            <h4>Change password </h4>
            <p>input current password</p>
            <input type="password" name="password">
            <p>input new password</p>
            <input type="password" name="newPassword">
            <p> confirm password </p>
            <input type="password" name="Confirmpassword">
            <br>
            <input type="submit" value='Submit' style='margin-left: 70px;'>
                
        </form>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>