<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>
<body>

  <%- include('layouts/header adim'); -%>

  <div class="container-fluid">
    <div class="row">
      <%- include('layouts/sidebar adim'); -%>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
          <h1 class="h2">Change Password</h1>
        </div>
        <div class="password row">
          <form method="POST" class="col-8" action="/adim/dashboard/change-password/store">
          <p class="mt-2">Input current password</p>
          <input class="form-control" type="password" name="password">
          <p class="mt-2">Input new password</p>
          <input class="form-control" type="password" name="newPassword">
          <p class="mt-2"> Confirm password </p>
          <input class="form-control" type="password" name="Confirmpassword">
  
          <input class="btn btn-lg btn-primary mt-2" type="submit" value='Submit' style=''>
              
      </form>
  </div>
      </main>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</html>