<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body style="background-color: white;">
  <%- include('layouts/header'); -%>

  <!-- <form method="" action="" -->
  <nav class="navbar navbar-expand-lg navbar-dark nav2" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center " id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown08">
              <li><a class="dropdown-item" href="/dashboard/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/dashboard/change-password/">Change password</li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/schoolfees">Schoool fees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/course-registration">Course registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/hostel">Hostel accomodation</a></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/result">Results</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="m-5 p-5">
    <form class="m-auto" method="POST" action="/dashboard/change-password/store">
        <h4>Change password </h4>

      <div class="row g-3 mb-3 align-items-center">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
          <input type="password" id="inputPassword6"name="password" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
            Input current password.
          </span>
        </div>
      </div>
      <div class="row g-3 mb-3 align-items-center">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">New password</label>
        </div>
        <div class="col-auto">
          <input type="password" id="inputPassword6"name="newPassword" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
            Must be 8-20 characters long.
          </span>
        </div>
      </div>
      <div class="row g-3 mb-3 align-items-center">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Comfrim password</label>
        </div>
        <div class="col-auto">
          <input type="password" id="inputPassword6"name="Confirmpassword" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
            Must be 8-20 characters long.
          </span>
        </div>
      </div>
      <input type="submit" value='Submit' style='margin-left: 70px;'>

    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>