<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/head'); -%>

<body style="background-color: white;">

  <%- include('layouts/header'); -%>



  <%- include('layouts/sidebar'); -%>

<table style="margin-left: 300px; width: 650px;">
    <tr>
        <td>
          <p class="main-word" style="font-size: 14px;"><span class="lable"
              style="font-size: 14px; font-style: italic;">Full name:</span><br>
            Ekwo Chinonso Evans</p>
        </td>
        <td style="padding: 2px;">
          <p class="main-word" style="font-size: 14px; font-family: inherit;"><span class="lable"
              style="font-size: 14px; font-style: italic;">email</span><br>
            ekwo.evans@yahoo.com</p>
        </td>
        <td rowspan="2"> 
          <img src="/images/back.jpg" style="size: 5px; width: 120px" alt="">
          <p>passport</p>
        </td>

      </tr>
      <tr>

      </tr>

      <tr>
        <td>
          <p class="main-word" style="font-size: 14px;"><span class="lable"
              style="font-size: 14px; font-style: italic;">Sex:</span><br>
            Male</p>
        </td>
        <td style="padding: 2px;">
          <p class="main-word" style="font-size: 14px; font-family: inherit;"><span class="lable"
              style="font-size: 14px; font-style: italic;">Date of birth:</span><br>
            11/12/2005</p>
        </td>
        <td style="padding: 2px;">
          <p class="main-word" style="font-size: 14px; font-family: inherit;"><span class="lable"
              style="font-size: 14px; font-style: italic;"> </span><br>
            </p>
        </td>

      </tr>
      <tr>
        <td>
          <p class="main-word" style="font-size: 14px;"><span class="lable"
              style="font-size: 14px; font-style: italic;">Department:</span><br>
            Computer/Statistisc</p>
        </td>
        <td style="padding: 2px;">
          <p class="main-word" style="font-size: 14px; font-family: inherit;"><span class="lable"
              style="font-size: 14px; font-style: italic;">Faculty:</span><br>
            Physical Science</p>
        </td>
        <td style="padding: 2px;">
          <p class="main-word" style="font-size: 14px; font-family: inherit;"><span class="lable"
              style="font-size: 14px; font-style: italic;">Phone:</span><br>
            08104505457</p>
        </td>

      </tr>
      
      <tr>
        <td>
          <p class="main-word" style="font-size: 14px;"><span class="lable"
              style="font-size: 14px; font-style: italic;">Session:</span><br>
            2020/2021</p>
        </td>
        <td style="padding: 2px;">
          <p class="main-word" style="font-size: 14px; font-family: inherit;"><span class="lable"
              style="font-size: 14px; font-style: italic;">Semester:</span><br>
              Second</p>
        </td>
        <td style="padding: 2px;">
          <p class="main-word" style="font-size: 14px; font-family: inherit;"><span class="lable"
              style="font-size: 14px; font-style: italic;"></span><br>
            </p>
        </td>

      </tr>

    <tr>
        <td>
            cos 222
        </td>
        <td>
            computer programming I
        </td>
        <td>
A              
        </td>
    </tr>

    <tr>
        <td>
            cos 222
        </td>
        <td>
            computer programming I
        </td>
        <td>
A              
        </td>
    </tr>

    <tr>
        <td>
            cos 222
        </td>
        <td>
            computer programming I
        </td>
        <td>
A              
        </td>
    </tr>

    <tr>
        <td>
            cos 222
        </td>
        <td>
            computer programming I
        </td>
        <td>
A              
        </td>
    </tr>

    <tr>
        <td>
            cos 222
        </td>
        <td>
            computer programming I
        </td>
        <td>
A              
        </td>
    </tr>

    <tr>
        <td>
            cos 222
        </td>
        <td>
            computer programming I
        </td>
        <td>
A              
        </td>
    </tr>

    <tr>
        <td>
            cos 222
        </td>
        <td>
            computer programming I
        </td>
        <td>
A              
        </td>
    </tr>

    <tr>
        <td>
            cos 222
        </td>
        <td>
            computer programming I
        </td>
        <td>
A              
        </td>
    </tr>

    <tr>
        <td>
            cos 222
        </td>
        <td>
            computer programming I
        </td>
        <td>
A              
        </td>
    </tr>

</table>

</body>

</html>