<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body style="background-color: white;">

  <%- include('layouts/header'); -%>

  
  <div class="sidebar-main" id="mysidebar">
    <nav class="sidebar-nav">

      <ul class="sidebar">
        <li><a href="/dashboard/profile">profile</a>
          <ul>
              <li>
                  <a href="/dashboard/change-password/">   change password
              </li>
          </ul>
      </li>
        <li><a href="/dashboard/schoolfees">schoool fees</a></li>
        <li><a href="/dashboard/course-registration">course registration</a>
        <li ><a href="/dashboard/hostel">hostel accomodation</a></li>
        <li class="current_side"><a href="/dashboard/result">results</a></li>
        <li><a href="/auth/logout">logout</a></li>
      </ul>

    </nav>
  </div>

  <div class="course_form">
    <form action="/dashboard/result/store" method="POST">
      <p>Select session <select id="session" name="session">
             <option value></option>

      <option value="2021/2022">2021/2022 </option>
      <option value="2020/2021">2020/2021 </option>
      <option value="2019/2020">2019/2020 </option>
      <option value="2018/2017">2018/2017 </option>
      <option value="2027/2018">2027/2018 </option>
      <option value="2016/2017">2016/2017 </option>
      <option value="2015/2016">2015/2016 </option>
      <option value="2014/2015">2014/2015 </option>


       </select></p>
    
   <p>Select semester <select id="semester" name="semester">
             <option></option>

      <option value="first semester">first semester</option>
            <option value="second semester">second semester</option>

       </select></p>

   <p>Select level <select id="level" name="level">
             <option ></option>

      <option value="100">100</option>
            <option value="200">200</option>
      <option value="300">300</option>
      <option value="400">400</option>
      <option value="500">500</option>
      <option value="600">600</option>

    </select>
  </p>
<input type="submit">
</form>
    </div>
    
</body>

</html>