/* * {
    border: 0;
    box-sizing: content-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
} */
h1 {
    font: bold 100% sans-serif;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
}
header h1 {
        background: steelblue;
        border-radius: 0.25em;
        color: #FFF;
        margin: 0 0 1em;
        padding: 0.5em 0;
}
.contenteditable {
    border-radius: 0.25em;
    min-width: 1em;
    outline: 0;
    /* cursor: pointer; */
}
.contenteditable:hover, .contenteditable:focus, td:hover .contenteditable, td:focus
.contenteditable {
    display: inline-block;
}
.res table {
    font-size: 60%;
    table-layout: fixed;
    width: 100%;
    
}
.res th, td {
        padding: 0.5em;
        /* position: relative; */
        text-align: center;
        width: 1000px;

}
.thead th {
        background: gray;
        border-color: #BBB;
        padding-left: 50px;
        padding-top: 50px;
        padding: 20px;

}
td {
        border-color: #DDD;
        background: #EEE;
        color: rgb(6, 255, 6);
}
/* html {
        font: 16px/1 'Open Sans', sans-serif;
        padding: 300px;
        background: #999;
        cursor: default;
} */
.bod {
        background: rgb(228, 227, 227);

        /* margin-left: 9in; */
        /* box-sizing: border-box; */
        height: auto;
        width: 9.0in;
        margin-top: 5px;
        margin-left: 300px;
        overflow: auto;
        padding: 0.5in;
        border-radius: 1px;
        /* box-shadow: 0 0 1in -0.4in rgba(0, 0, 0, 0.5); */
}
/* header {
       margin: 0 0 3em;  
}
header:after {
        clear: both;
        content: "";
        display: table;
} */
.meta{
    margin-left: 250px;
    text-align: left;
}
.res{
    margin-left: 0px;
}
table.meta td{
    float: left;
    width: 100%;
    color: inherit;
}
table.meta th{
    background: inherit;
    color: inherit;
}
td:nth-child(1) {
    text-align: center;
    width: 30%;
    color: inherit;
}
td:nth-child(2) {
    text-align: center;
    width: 40%;
    color: rgb(17, 30, 49);
}
td:nth-child(3) {
    text-align: center;
    width: 30%;
    color: green;
}